
.component-nest{
margin: 0 2rem 2rem;
}

.spin-load {
 position: fixed;
 top: 50%;
 left: 50%;
 vertical-align: middle;
 align-content: center;
 width: auto;
 z-index: 9999;
}

.my-modal2 .modal-content{
 border-style: none;
 background-color: transparent;
}
.big-one{
 font-size: 1em;
}