.my-modal {
    width: 90vw ;   /* Occupy the 90% of the screen width */
    max-width: 90vw;
    max-height: 80%;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.my-modal .modal-content{
background: #ddbea9;
}

.modal-img {
   max-width: auto;
   min-width: 150px;
   max-height: 500px;
   height: auto;
   width: 20%;
}
.table-text{
  font-size: calc(0.65em + 0.65vw)  
}
.bigger-stuff {
  font-weight: bold;
  font-size: calc(0.8em + 0.8vw);
}
.desc-text{
font-size: calc(0.6em + 0.6vw);
}
.spin-load{
    position: fixed;
     top: 50%;
     left: 50%;
    vertical-align: middle;
    align-content: center;
    width: auto;
    z-index: 9999;
}